.env
/url-shortener-chart/values.yaml
*/.env
*/node_modules
*/dist
*/build
*/.next
*/.nuxt
*/.cache
*/.idea
*/.vscode
*/.DS_Store
*/.nyc_output
*/.terraform*
*/terraform.tfstate
*/node_modules
/monitoring/go-receiver/secrets.yaml